body{
background: linear-gradient(to right, #654ea3, #eaafc8);
        background-repeat: no-repea;
        }
        img{
        	width:95%;
        height: 55%;
        border: 2px solid black;
        }
        #score{
        	font-size: 60px;
        color: white;
        text-align:center
        }
        
     
        #d2{
        	background-color:#694ea3;
        	margin-top:20%;
        	panding:10px;
        border: 2px solid black;
       
        }
